@font-face {
  font-family: Pacifico;
  src: url(resources/Pacifico-Regular.ttf);
}

h1 {
  color: blue;
}

body {
  background-color: black;
}

.clase {
  color: red;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

#main {
  display: none;
  background: rgb(254,175,13);
  background: linear-gradient(180deg, rgba(254, 174, 13, 0.8) 30%, rgba(254,235,11,0.8) 100%); 

  width: 80%;
  max-width: 90%;
  padding: 5%;
  box-shadow: 0 0.5% 2% rgba(0, 0, 0, 0.1);
  margin: 5% auto;
}

#play-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#play {
  display: block;
}