@font-face {
  font-family: Pacifico;
  src: url(Pacifico-Regular.ttf);
}

h1 {
  color: blue;
}

.clase {
  color: red;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

#main {
  background: rgb(254,175,13);
  background: linear-gradient(180deg, rgba(254,175,13,1) 30%, rgba(254,235,11,1) 100%); 
}